name: linter

on: push

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: set up go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.22.4"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --config .golangci.yml
