name: goreleaser

on:
  push:
    # not not consider simplec commit
    branches:
      - '!*'
    # consider only release and pre-release tags
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: set up go
        uses: actions/setup-go@v4
        with:
          go-version: ">=1.20"

      - name: tests modules
        run: |
          go mod vendor
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "::error::vendor directory if not synched with go.mod, please run go mod vendor"
            exit 1
          fi

          go mod tidy
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "::error::modules are not tidy, please run go mod tidy"
            exit 1
          fi

      - name: tests
        run: |
          go test -v ./...

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: run goreleaser
        uses: goreleaser/goreleaser-action@v4
        if: success() && startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USER: github-actions

